.wrapper {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
}

.wrapper > section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;

  &:nth-child(1){
    background-color: red;
  }
  &:nth-child(2){
    background-color: blue;
  }
  &:nth-child(3){
    background-color: green;
  }

}